node_modules/
.next/
.env*
.DS_Store
*.ps1
dist/
.github/
.vercel/

**/flaresolverr/
**/selenium-manager/
**/venv/
venv/
*.exe
*.dll
*.so
*.dylib
*.db
*.log
err.json
test_error.*
test-opensubs-out.txt
package-lock.json
git_push.log
build.log
build_*.log
